.sobre-container {
  position: relative;
  width: 100%;
  height: 800px;
  display: flex;
  align-items: end;
  justify-content: center;
  z-index: 3;
}

.cn-decoration {
  width: 50%;
  background-color: #8056ff;
  padding: 10px;
}

.img-sobre-container {
  position: relative;
  height: 70%;
  border-radius: 5px;
  bottom: 0px;
  z-index: 2;
}

.img-sobre {
  height: 100%;
  display: block;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.14);
}

.cn-dark {
  background-color: #333;
  width: 500px;
  position: absolute;
  height: 80%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.14);
  left: 50%;
  top: 0;
  z-index: 1;
}

.cn-dark h2 {
  color: #fff;
  margin: 1em;
  font-size: 2em;
  line-height: 45px;
  font-weight: 200;
}

.cn-dark h2 span {
  color: #9d1cf3;
  font-weight: bold;
}

.area01 {
  height: 50%;
  position: absolute;
  left: 0;
  top: 30px;
}
.area02 {
  height: 40%;
  position: absolute;
  right: 0;
  bottom: 60px;
}

.btn-sobre {
  background-color: #6700ac;
  color: #fff;
  position: absolute;
  padding: 1.8em 2em;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  left: 50%;
  transform: translateX(-35%);
  transition: .2s;
  z-index: 2;
  top: 200px;
}

.btn-sobre:hover {
  background-color: #fff;
  color: #6700ac;
}

.opcoes-container {
  width: 80%;
  margin: 2em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-opcao {
  background-color: #fff;
  width: 160px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.06);
  padding: 2em 0.5em;
}

.card-opcao fa-icon {
  color: #6700ac;
  font-size: 3.5em;
  margin-bottom: 0.3em;
}

.card-opcao h2 {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 0.3em;
}

.card-opcao p {
  font-size: 0.9em;
  margin-bottom: 0.8em;
}

.card-opcao button {
  background-color: #6700ac;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.5em 2.5em;
  transition: 0.2s;
}

.card-opcao button:hover {
  background-color: #fff;
  color: #6700ac;
  border-color: #6700ac;
}

@media (max-width: 1050px) {
  .sobre-container {
    height: 600px;
  }
  .cn-dark {
    width: auto;
    right: 30px;
  }
  .btn-sobre {
    top: 130px;
  }
}

@media (max-width: 750px) {
  .sobre-container {
    height: 500px;
  }

  .cn-dark h2 {
    font-size: 1.5em;
  }
}

@media (max-width: 550px) {
  .sobre-container {
    height: 400px;
  }
  .cn-dark h2 {
    font-size: 1em;
    line-height: 1.5em;
  }
  .btn-sobre {
    position: absolute;
    padding: 1em 1em;
    transform: translateX(-50%);
    top: 85px;
  }
}

@media (max-width: 450px) {
  .sobre-container {
    height: 300px;
  }

  .cn-dark {
    right: 20px;
  }

  .cn-dark h2 {
    font-size: 1em;
    line-height: 1.5em;
  }
}

@media (max-width: 350px) {
  .sobre-container {
    height: 200px;
  }

  .cn-dark {
    right: 10px;
  }
  .cn-dark h2 {
    font-size: 0.8em;
    line-height: 1.5em;
  }
  .btn-sobre {
    position: absolute;
    font-size: .8em;
    padding: .5em .5em;
    transform: translateX(-50%);
    top: 55px;
  }
}
