<div class="flex flex-col items-center h-screen">
  <div class="bg-gray200 w-full flex justify-between items-start p-10 shadow-xl mb-10">
    <div class="flex gap-8 items-end">
      <div
        class="w-[400px] relative border-2 border-purple600 flex justify-center items-center overflow-hidden rounded-lg"
      >
        <input
          type="text"
          placeholder="Pesquise pelo ID ou pelo nome do cliente"
          class="w-full p-2 font-2xl focus:outline-none"
          (input)="searchVenda($event)"
        />
        <span class="absolute top-2 right-2">
          <fa-icon [icon]="faSearch"></fa-icon>
        </span>
      </div>
      <div class="flex flex-col gap-2 font-2xl">
        <h2 class="font-bold">Funcionário:</h2>
        <select
          (change)="selecionarFuncionario($event)"
          class="border-2 border-purple600 rounded-lg p-2 w-[200px]"
        >
          <option value="0" selected>Todos</option>
          <option *ngFor="let funcionario of funcionarios" value="{{ funcionario.id }}">
            {{ funcionario.nome }}
          </option>
        </select>
      </div>
      <div class="flex flex-col gap-2 font-2xl">
        <h2 class="font-bold">Início:</h2>
        <input
          type="date"
          class="border-2 border-purple600 rounded-lg p-2"
          (change)="filtrarPorData($event, null)"
        />
      </div>
      <div class="flex flex-col gap-2 font-2xl">
        <h2 class="font-bold">Fim:</h2>
        <input
          type="date"
          class="border-2 border-purple600 rounded-lg p-2"
          (change)="filtrarPorData(null, $event)"
        />
      </div>
    </div>
    <div class="bg-degrade_purple_r px-5 rounded-xl shadow-2xl" *ngIf="vendas.length > 0">
      <div class="bg-white p-5 flex gap-5">
        <h3 class="flex flex-col items-center text-md">
          <span class="font-bold">Vendas</span> {{ totalVendasDoFuncionario!.vendas }}
        </h3>
        <h3 class="flex flex-col items-center text-md">
          <span class="font-bold">Total</span>
          {{ totalVendasDoFuncionario!.valorTotal | moedaReal }}
        </h3>
        <h3 *ngIf="idFuncSelecionario != 0" class="flex flex-col items-center text-md">
          <span class="font-bold">Comissão</span>
          {{ totalVendasDoFuncionario!.comissao | moedaReal }}
        </h3>
      </div>
    </div>
  </div>

  <div class="w-[85%] scroll-bar" *ngIf="vendas.length > 0; else noVendas">
    <app-card-venda
      *ngFor="let venda of vendas"
      [id]="venda.id"
      [nomeFuncionario]="venda.funcionario.nome"
      [nomeCliente]="venda.nomeCliente"
      [valorTotal]="venda.valorTotal"
      [comissaoTotal]="venda.comissaoTotal"
      [dateCreated]="venda.dateCreated"
      (emitFunction)="chamarConfirm(venda.id!)"
    ></app-card-venda>
  </div>
  <ng-template #noVendas>
    <p>Não há vendas registradas.</p>
  </ng-template>

  <div class="p-5 w-full mt-auto flex gap-5" *ngIf="numPaginasArray.length > 0">
    <div
      *ngIf="numPaginas > paginasPorGrupo && grupoAtual > 1"
      class="bg-purple100 w-10 h-10 flex justify-center items-center font-bold text-xl rounded-[50%] cursor-pointer hover:bg-purple300 hover:text-white duration-300"
      (click)="alterarPaginacao(false)"
    >
      ...
    </div>
    <div *ngFor="let numPagina of numPaginasArray">
      <div
        class=" w-10 h-10 flex justify-center items-center font-bold text-xl rounded-[50%] cursor-pointer hover:bg-purple300 hover:text-white duration-300 {{
          numPagina.selected ? 'bg-purple300 text-white' : 'bg-purple100 text-black'
        }}"
        (click)="selecionarPagina(numPagina.numPagina)"
      >
        {{ numPagina.numPagina }}
      </div>
    </div>

    <div
      *ngIf="numPaginas > paginasPorGrupo && grupoAtual * paginasPorGrupo < numPaginas"
      class="bg-purple100 w-10 h-10 flex justify-center items-center font-bold text-xl rounded-[50%] cursor-pointer hover:bg-purple300 hover:text-white duration-300"
      (click)="alterarPaginacao(true)"
    >
      ...
    </div>
  </div>
</div>
