<div class="fundo-branco-container">
    <div class="filtro-container">
        <h2><span>Busque</span> pelo produto</h2>
        <input type="text" (input)="pesquisar($event)"/>
    </div>
    <div class="acao" *ngIf="produto && produto.selecionado == true">
        <a href=""><button class="btn-padrao btn-acao">Editar</button></a>
        <button class="btn-padrao btn-acao">Excluir</button>
    </div>
    <div class="cards-container scroll" *ngIf="produtos">
        <app-card-produto *ngFor="let produto of produtos" [nome]="produto.nome" [valor]="produto.valor"
            [selecionado]="produto.selecionado" (click)="selecionarCard(produto)" />
    </div>
    <div class="paginacao-container">
        <button class="btn-padrao btn-invertido" (click)="mudarPagina(false)">Anterior</button>
        <h3>Página {{pageNumber}}</h3>
        <button class="btn-padrao btn-invertido" (click)="mudarPagina(true)">Próxima</button>
    </div>
</div>