<div class="fundo-roxo">
    <div class="imagem-com-overlay">
        <img src="../../../../assets/imagens/img002.jpg" alt="">
        <div class="conteudo">
            <form [formGroup]="loginForm" #formDir="ngForm" (ngSubmit)="submit()">
                <div class="form-group"><input type="text" placeholder="Login" formControlName="login"></div>
                <div class="form-group"><input type="password" placeholder="Senha" formControlName="senha"></div>
                <div class="opcoes-usuario">
                    <div>
                        <input type="checkbox" class="checkbox" formControlName="lembrar">
                        <label for="lembrar">Manter-se Conectado</label>
                    </div>
                </div>
                <input type="submit" value="Entrar">
            </form>
        </div>
    </div>
</div>