<div class="container-personalizado-1">
  <div class="cn-decoration area01"></div>
  <div class="cn-decoration area02"></div>
  <div class="cn-conteudo">
    <h2><span>Achadinhos</span>Online</h2>
    <p>
      Buscamos empoderar empreendedores de bazares com uma ferramenta prática e eficiente de gestão,
      transformando iniciativas simples em negócios prósperos. Nosso objetivo é fomentar o controle
      financeiro, otimizar processos e incentivar o crescimento sustentável, abrindo caminho para
      que pequenos bazares se tornem grandes lojas ou marcas próprias, contribuindo para o
      desenvolvimento do empreendedorismo e da economia local.
    </p>
  </div>
</div>
