<app-loading *ngIf="!loading;" />
<div #form class="bg-gray500 w-full p-5">
  <input type="hidden" formControlName="id" />
  <div class="flex gap-2 justify-start items-center w-full bg-purple100">
    <h2 class="font-bold text-xl">Selecione o funcionário:</h2>
    <select
      (change)="selecionarFuncionario($event)"
      class="border-2 border-purple600 rounded-lg p-2 w-[200px]"
    >
      <option value="0" selected disabled>Selecione</option>
      <option *ngFor="let funcionario of funcionarios" value="{{ funcionario.id }}">
        {{ funcionario.nome }}
      </option>
    </select>
  </div>
  <div class="btn-container" *ngIf="idFuncionarioSelecionado != null && type !== 'edit'">
    <button class="btn-padrao btn-invertido" (click)="limparCarrinho($event)">
      Limpar Carrinho
    </button>
    <a routerLink="/carrinho/{{ idFuncionarioSelecionado }}"
      ><button class="btn-padrao">Editar Carrinho</button></a
    >
  </div>
</div>
