<div class="h-screen w-full flex flex-col items-center bg-gray200">
  <h2 class="font-bold text-2xl w-full text-center p-2 bg-white">
    Editar <span class="text-purple500">Venda</span>
  </h2>
  <div class="bg-white flex justify-between p-5 w-full shadow-md">
    <div class="flex justify-start items-center gap-10" *ngIf="funcionario">
      <h2 class="font-bold text-xl">
        Funcionário Selecionado: <span class="text-purple500">{{ funcionario.nome }}</span>
      </h2>
    </div>
    <div class="flex gap-5" *ngIf="idUrl">
      <button class="btn-padrao" (click)="limparCarrinho($event)" *ngIf="itemsCarrinho.length > 0">
        Limpar Carrinho
      </button>
      <a routerLink="/carrinho/{{ funcionario?.id! }}/1/{{ idUrl }}"
        ><button class="btn-padrao">Continuar Comprando</button></a
      >
    </div>
  </div>
  <div class="w-full p-5 bg-white border-b-2 border-gray300 flex gap-8 items-start">
    <div class="flex flex-col">
      <h3 class="font-bold text-lg">Nome do Cliente:</h3>
      <input
        type="text"
        (input)="changeInputNomeCliente($event)"
        [value]="nomeCliente"
        class="w-[300px] p-2 text-lg text-gray50000 rounded-md border-2 border-purple500"
      />
    </div>
    <div *ngIf="venda" class="flex gap-5">
      <p class="font-bold text-xl flex flex-col gap-5">
        <span>Valor:</span> <span class="font-medium">{{ venda.valorTotal | moedaReal }}</span>
      </p>
      <p class="font-bold text-xl flex flex-col gap-5">
        <span>Comissão:</span>
        <span class="font-medium">{{ venda.comissaoTotal | moedaReal }}</span>
      </p>
    </div>
  </div>
  <div class="w-full bg-white flex flex-col border-b-2 border-gray300">
    <div class="p-6 flex justify-between items-center w-full">
      <h2 class="font-bold text-2xl text-gray500">Rebibo</h2>
      <span
        (click)="descricaoRecibo = !descricaoRecibo; descricaoCarrinho = false"
        class="cursor-pointer px-5 text-2xl"
      >
        <fa-icon [icon]="descricaoRecibo ? faChevronUp : faChevronDown"></fa-icon>
      </span>
    </div>
    <div
      class="bg-gray200 transition-all duration-300 ease-in-out overflow-hidden flex justify-between"
      [style]="{
      maxHeight: descricaoRecibo? '300px' : '0',
      opacity: descricaoRecibo ? '1' : '0',     
    }"
    >
      <div class="p-5 flex flex-col gap-2">
        <h2>Recibo:</h2>
        <div
          *ngFor="let itemRecibo of recibo"
          class="flex gap-5 justify-between min-[300px] text-lg"
        >
          <p>
            <span class="font-bold">{{ itemRecibo.produto.nome }}</span> -
            {{ itemRecibo.produto.valor | moedaReal }} X {{ itemRecibo.quantidade }} =
            <span class="font-bold">{{ itemRecibo.valorTotal | moedaReal }}</span>
          </p>
          <span class="cursor-pointer" (click)="excluirItemRecibo(itemRecibo.id!)">
            <fa-icon [icon]="faTrash"></fa-icon>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full flex flex-col items-start gap-5 bg-white border-b-2 border-gray300">
    <div class="p-6 flex justify-between items-center w-full">
      <h2 class="font-bold text-2xl text-gray500">Carrinho</h2>
      <span
        (click)="descricaoCarrinho = !descricaoCarrinho; descricaoRecibo = false"
        class="cursor-pointer px-5 text-2xl"
      >
        <fa-icon [icon]="descricaoCarrinho ? faChevronUp : faChevronDown"></fa-icon>
      </span>
    </div>
    <div
      class="w-full transition-all duration-300 ease-in-out overflow-hidden"
      [style]="{
        maxHeight: descricaoCarrinho? '300px' : '0',
        opacity: descricaoCarrinho ? '1' : '0',     
      }"
    >
      <div class="flex gap-5 p-5 scroll-bar">
        <div
          class="relative w-[300px] p-5 rounded-md shadow-[10px_10px_20px] shadow-shadow200 bg-white"
          *ngFor="let itemCarrinho of itemsCarrinho"
        >
          <div
            class="absolute text-purple300 top-2 right-4 cursor-pointer text-lg"
            (click)="chamarComfirmExcluir(itemCarrinho)"
          >
            <fa-icon [icon]="faTrash"></fa-icon>
          </div>
          <p>
            <span class="font-bold">Nome: </span>
            {{ itemCarrinho.produto.nome }}
          </p>
          <p>
            <span class="font-bold">Valor: </span>
            {{ itemCarrinho.produto.valor | moedaReal }}
          </p>
          <div class="flex flex-col gap-2">
            <span class="font-bold">Quantidade: </span>
            <select
              class="border-2 border-purple600 rounded-lg p-2 w-[200px]"
              (change)="alterarQuantidadeItem(itemCarrinho.produto.id!, $event)"
            >
              <option value="0" selected disabled>Selecione</option>
              <option
                *ngFor="let i of [].constructor(itemCarrinho.quantidade); let index = index"
                [value]="index + 1"
                [selected]="index === itemCarrinho.quantidade - 1"
              >
                {{ index + 1 }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <p
        class="w-full text-xl font-bold text-gray400 p-5"
        *ngIf="idUrl && itemsCarrinho.length === 0"
      >
        Nenhum item no carrinho.
      </p>
    </div>
  </div>

  <div class="p-5 w-full flex gap-5" *ngIf="idUrl && itemsCarrinho.length > 0">
    <button class="btn-padrao btn-invertido" (click)="alterarVenda()" *ngIf="nomeCliente">
      Salvar Venda
    </button>
  </div>
</div>
