.card_venda {
  display: flex;
  gap: 5px;
  padding: .5em;
  justify-content: space-between;
}

.card_venda h2 {
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.8px;
}

.card_venda h2.nome {
  width: 25%;
}

.btn-acao {
  margin: 0.5em;
}

.btn-acao:hover {
  margin: 0.3em;
}

.card_venda fa-icon {
  margin-right: 0.5em;
}

@media (max-width: 750px) {
  .card_venda h2 {
    font-size: 0.6em;
    display: flex;
  }
  .btn-acao {
    font-size: 0.5em;
  }
}
