.fundo-roxo {
  background-image: linear-gradient(to right, #5d3089, #773ab5, #8416cd);
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.imagem-com-overlay {
  position: relative;
  width: 96%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagem-com-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.imagem-com-overlay img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1; /* Certifique-se de que a imagem está acima do overlay */
}

.conteudo {
  width: 450px;
  position: relative;
}

form {
    text-align: center;
}

.form-group input {
  background-color: #ffffff63;
  color: #fff;
  padding: 1em;
  border-radius: 10px;
  font-size: 1.2em;
  border: 1px solid #fff;
}

::placeholder {
  color: #dcdcdc;
}

.form-group input::-ms-input-placeholder {
  color: #dcdcdc;
}

input[type="submit"] {
  background-color: #8416cd;
  color: #fff;
  border: 2px solid transparent;
  padding: 0.6em 1em;
  font-size: 1.1em;
  cursor: pointer;
  transition: 0.4s;
}

input[type="submit"]:hover {
  background-color: transparent;
  color: #9566f9;
  border: 2px solid #8416cd;
}

.opcoes-usuario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 1.2em;
    margin: 1em 0;
}

.opcoes-usuario a {
    text-decoration: none;
    color: #FFF;
    transition: .4s;
}

.opcoes-usuario label {
    margin-left: .5em;
}

.opcoes-usuario input {
    transform: scale(2);
    background-color: #fff;
    border-radius: .2px;
    cursor: pointer;
}

.opcoes-usuario a:hover {
    color: #9566f9;
}

@media (max-width: 800px) {
  .imagem-com-overlay {
    width: 100%;
  }
}
