

.message .clear fa-icon {
    font-size: 1.5em;
    color: #8056ff;
    transition: .2s;
}

.message .confirm {
    margin-top: 1em;
    margin-left: auto;
}

.message .clear:hover fa-icon {
    font-size: 1.9em;
}

.message p {
    width: 80%;
    font-size: 1.2em;
}