<div class="fundo-branco-container">
  <div class="filtro-container">
    <h2><span>Busque</span> pelo Funcionário:</h2>
    <input type="text" (input)="pesquisar($event)" />
  </div>
  <div class="acao" *ngIf="funcionario != null && funcionario.selecionado == true">
    <a routerLink="/funcionarios/{{ funcionario.id! }}"
      ><button class="btn-padrao btn-acao"><fa-icon [icon]="faEdit" /> Editar</button></a
    >
    <button class="btn-padrao btn-acao" (click)="chamarComfirm(funcionario)">
      <fa-icon [icon]="faTrashAlt" /> Excluir
    </button>
  </div>
  <div class="cards-container scroll-bar" #cardsContainer>
    <app-card-func
      *ngFor="let funcionario of funcionarios"
      [nome]="funcionario.nome"
      [porcentagem]="funcionario.porcentagem"
      [valor]="calcularcomissao(funcionario.id!)"
      [selecionado]="funcionario.selecionado!"
      (click)="selecionarCard(funcionario)"
    />
  </div>
  <div class="paginacao-container">
    <button class="btn-padrao btn-invertido" (click)="mudarPagina(false)">Anterior</button>
    <h3>Página {{ pageNumber }}</h3>
    <button class="btn-padrao btn-invertido" (click)="mudarPagina(true)">Próxima</button>
  </div>
</div>
