.home-admin-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch; /* Garante que ambas as divs tenham a mesma altura */
}

.status-lojinha-container {
  width: 60%;
  min-width: 400px;
  position: relative;
}

.status-lojinha-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.status-lojinha-container img {
  display: block;
  width: 100%;
  z-index: 0;
}

.status-conteudo {
  color: #fff;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translatex(-50%);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 400px;
}

.status-conteudo h2 {
  font-size: 2.5em;
  margin-bottom: 1em;
}

.status-conteudo h3 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.status-conteudo aside {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-around;
}

.status-conteudo .card-status {
  text-align: center;
  margin: 1em;
}

.status-conteudo .card-status h4 {
  font-size: bold;
  font-size: 2em;
}

.main-container {
  width: 40%;
  min-width: 300px;
  background-image: linear-gradient(
    to right,
    #5d3089 0%,
    #6c35a3 20%,
    #8416cd 80%
  );
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: -4px;
}

.main-container h2 {
  margin: 1em 0;
}

@media (max-width: 1000px) {
  .status-lojinha-container,
  .main-container {
    width: 100%;
  }
}
