<div class="w-full h-screen flex flex-col items-center">
  <div class="w-full flex flex-wrap justify-between items-center p-5 shadow-md px-10 mb-10">
    <div
      class="relative flex justify-center items-center border-2 border-purple400 rounded-md overflow-hidden w-[300px]"
    >
      <span class="absolute top-3 right-2">
        <fa-icon [icon]="faSearch"></fa-icon>
      </span>
      <input
        class="p-2 text-lg w-full"
        type="text"
        placeholder="Qual item você deseja?"
        (input)="procurar($event)"
      />
    </div>
    <h2 class="font-semibold text-2xl">
      Selecione o seu <span class="text-purple500">Produto</span>
    </h2>
  </div>
  <div class="p-5 w-full flex flex-wrap gap-5 h-screen scroll-bar">
    <app-card-item-carrinho
      *ngFor="let produto of produtos"
      [nome]="produto.nome"
      [valor]="produto.valor"
      [quantidade]="produto.quantidade!"
      [funcionarioId]="idFuncionario"
      [produtoId]="produto.id!"
    ></app-card-item-carrinho>
  </div>
  <div class="p-5 w-full mt-auto flex gap-5">
    <a routerLink="/vendas/{{ idFuncionario }}"
      ><button class="btn-padrao btn-invertido">Finalizar Carrinho</button></a
    >
  </div>
</div>
