<div class="container-personalizado-1">
  <div class="cn-decoration area01"></div>
  <div class="cn-decoration area02"></div>
  <div class="cn-conteudo">
    <div class="header">
      <h2>Selecione o seu <span>Produto</span></h2>
      <div class="search-container">
        <form>
          <fa-icon [icon]="faSearch"></fa-icon>
          <input type="text" placeholder="Qual item você deseja?" (input)="procurar($event)" />
        </form>
      </div>
    </div>
    <div class="produtos-container scroll-bar">
      <app-card-prod *ngFor="let produto of produtos" (click)="selecionarProduto(produto)"
        [selecionado]="produto.selecionado!" [nome]="produto.nome" [valor]="produto.valor" />
    </div>
    <input type="submit" value="Finalizar" (click)="onSubmit()" />
  </div>
</div>