@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('assets/fontes/Roboto-Regular.ttf') format('truetype');
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --cor001: #fdfdfd;
  --cor002: #333;
  --cor003: #777;
  --cor004: #efefef;
  --cor005: #8056ff;
  --cor006: #dc3545;
  --cor007: #6700ac;
  --cor008: #fff;
  --cor009: #8036b2a1;
  --cor010: #8056ff;

  --roxo-muito-claro: #d953f7;
  --roxo-claro: #c353f7;
  --roxo-normal: #8056ff;
  --roxo-escuro: #6904ce;
  --roxo-transparente: #8036b2a1;

  --gradient-bottom: linear-gradient(
    to bottom right,
    var(--roxo-muito-claro),
    var(--roxo-claro) 30%,
    var(--roxo-escuro) 100%
  );
}

body {
  background-color: var(--cor001);
  color: var(--cor002);
}

input {
  @apply focus:outline-none;
}

/*FORM*/

form {
  max-width: 450px;
  margin: 2em auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form-group label {
  font-weight: bold;
  font-size: 0.9em;
  margin-bottom: 0.4em;
}

.form-group input,
.form-group textarea,
.form-group select {
  @apply p-2 text-gray400 text-lg border-2 border-gray300 rounded-md;
}

.form-group select option {
  font-size: 1.2em;
}

input[type='submit'] {
  background-color: var(--cor004);
  border: 2px solid transparent;
  padding: 0.6em 1em;
  font-size: 1.1em;
  cursor: pointer;
  transition: 0.4s;
}

input[type='submit']:hover {
  color: var(--cor005);
  border-color: var(--cor005);
  background-color: transparent;
}

.validation-error p {
  color: var(--cor006);
  margin-top: 0.4em;
  border-left: 3px solid var(--cor006);
  padding-left: 0.2em;
}

/* butoes */

.btn-padrao {
  @apply bg-purple500 text-white py-2 px-4 rounded-[10px] font-bold border-2 border-transparent duration-200 hover:bg-white hover:text-purple500 hover:border-purple500;
}

.btn-invertido {
  @apply bg-white text-purple500 border-2 border-purple500 hover:bg-purple500 hover:text-white hover:border-transparent;
}

.btn-acao {
  @apply bg-degrade_purple_r hover:bg-gradient-to-r border-white hover:from-white hover:to-white hover:text-purple500 hover:border-purple500;
}

/* barra de rolagem */
.scroll-bar {
  overflow: scroll;
  overflow-x: hidden;
}

.scroll-bar::-webkit-scrollbar {
  width: 15px; /* Largura da barra de rolagem */
}

.scroll-bar::-webkit-scrollbar-track {
  background-color: none; /* Cor do fundo da barra de rolagem */
}

.scroll-bar::-webkit-scrollbar-thumb {
  background-color: #8036b2a1; /* Cor do botão de rolagem */
  border-radius: 3px; /* Borda arredondada do botão de rolagem */
}

.scroll-bar::-webkit-scrollbar-thumb:hover {
  background-color: var(--cor007) bb; /* Cor do botão de rolagem ao passar o mouse */
}

/* modelo Container com fundo */

.container-personalizado-1 {
  position: relative;
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.container-personalizado-1 .cn-decoration {
  width: 50%;
  background-color: #8056ff;
  padding: 10px;
}

.container-personalizado-1 .cn-conteudo {
  background-color: var(--cor008);
  color: black;
  padding: 1em;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 90%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.14);
  z-index: 1;
}

.container-personalizado-1 .cn-conteudo h2 {
  text-align: center;
  margin: 1em;
  font-size: 2em;
  line-height: 45px;
  font-weight: 200;
}

.container-personalizado-1 .cn-conteudo h2 span {
  color: #9d1cf3;
  font-weight: bold;
}

.container-personalizado-1 .area01 {
  height: 50%;
  position: absolute;
  left: 0;
  top: 30px;
  z-index: -1;
}
.container-personalizado-1 .area02 {
  height: 40%;
  position: absolute;
  right: 0;
  bottom: 60px;
  z-index: -1;
}

@media (max-width: 1050px) {
  .container-personalizado {
    height: 600px;
  }
}

@media (max-width: 750px) {
  .container-personalizado {
    height: 500px;
  }
}

@media (max-width: 550px) {
  .container-personalizado {
    height: 400px;
  }
}

@media (max-width: 450px) {
  .container-personalizado {
    height: 300px;
  }

  .container-personalizado-1 .cn-conteudo h2 {
    font-size: 1.5em;
    line-height: 1.5em;
  }
}

@media (max-width: 350px) {
  .container-personalizado {
    height: 200px;
  }
}

/*------- cards --------*/

.card-item {
  @apply bg-degrade_purple_b px-5 duration-200 rounded-md cursor-pointer h-[200px];
}

.card-item .fundo-branco {
  @apply bg-white m-auto p-5 flex items-center justify-center duration-200 h-full;
}

.card-item .fundo-branco img {
  @apply w-[20%] rounded-[20%] mx-5;
}

.fundo-branco > fa-icon {
  @apply my-3 text-3xl text-purple400;
}

.card-item .fundo-branco .conteudo {
  @apply flex flex-col gap-2 p-2;
}

.selecionado {
  @apply py-2;
}
.selecionado .fundo-branco {
  @apply py-3 rounded-xl;
}
