/* menu */
.menu {
  @apply text-right p-2;
}

.sub-menu {
  @apply hidden absolute bg-white shadow-[10px_10px_20px] shadow-transparent rounded-md font-bold p-5 right-5 z-10 ;
}

.sub-menu li {
  @apply list-none mb-5;
}

.sub-menu li a {
  @apply no-underline text-purple500 rounded-lg p-3 duration-200 hover:bg-purple600 hover:text-white;
}

.menu:hover .sub-menu {
  display: block;
}

fa-icon {
  color: #00a637;
  font-size: 2em;
  padding: 0.5em 1em;
}

.menu-container {
  display: flex;
}

@media (max-width: 350px) {
  header a img {
    width: 50px;
  }
  header > a {
    padding: 2em;
    font-size: 0.35em;
  }
}
