@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url("assets/fontes/Roboto-Regular.ttf") format("truetype");
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --cor001: #fdfdfd; 
  --cor002: #333; 
  --cor003: #777; 
  --cor004: #efefef; 
  --cor005: #8056ff; 
  --cor006: #dc3545; 
  --cor007: #6700ac; 
  --cor008: #fff; 
  --cor009: #8036b2a1; 
  --cor010: #8056ff; 

  --roxo-muito-claro: #d953f7;
  --roxo-claro: #c353f7;
  --roxo-normal: #8056ff;
  --roxo-escuro: #6904ce;
  --roxo-transparente: #8036b2a1;

  --gradient-bottom: linear-gradient(
    to bottom right,
    var(--roxo-muito-claro),
    var(--roxo-claro) 30%,
    var(--roxo-escuro) 100%
  );
}

body {
  background-color: var(--cor001);
  color: var(--cor002);
}

/*FORM*/

form {
  max-width: 450px;
  margin: 2em auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form-group label {
  font-weight: bold;
  font-size: 0.9em;
  margin-bottom: 0.4em;
}

.form-group input,
.form-group textarea,
.form-group select {
  padding: 0.6em;
  color: var(--cor003);
  font-size: 0.8em;
}

.form-group select option {
  font-size: 1.2em;
}

input[type="submit"] {
  background-color: var(--cor004);
  border: 2px solid transparent;
  padding: 0.6em 1em;
  font-size: 1.1em;
  cursor: pointer;
  transition: 0.4s;
}

input[type="submit"]:hover {
  color: var(--cor005);
  border-color: var(--cor005);
  background-color: transparent;
}

.validation-error p {
  color: var(--cor006);
  margin-top: 0.4em;
  border-left: 3px solid var(--cor006);
  padding-left: 0.2em;
}

/* butoes */

.btn-padrao {
  background-color: var(--cor007);
  color: var(--cor008);
  padding: 0.5em 1em;
  margin: 1em;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.2s;
}

.btn-invertido {
  background-color: var(--cor008);
  color: var(--cor007);
  border: 1px solid var(--cor007);
}

.btn-acao {
  background-image: var(--gradient-bottom);
  width: 120px;
  border-radius: 20px;
}

.btn-padrao:hover {
  background-color: var(--cor008);
  color: var(--cor007);
  border-color: var(--cor007);
  margin: 0.8em;
  padding: 0.7em 1.2em;
}

.btn-invertido:hover {
  background-color: var(--cor007);
  color: var(--cor008);
  border-color: transparent;
}

.btn-acao:hover {
  background-image: none;
  margin: 0.8em 1em;
}

/* barra de rolagem */
.scroll-bar {
  overflow: scroll;
  overflow-x: hidden;
}

.scroll-bar::-webkit-scrollbar {
  width: 15px; /* Largura da barra de rolagem */
}

.scroll-bar::-webkit-scrollbar-track {
  background-color: none; /* Cor do fundo da barra de rolagem */
}

.scroll-bar::-webkit-scrollbar-thumb {
  background-color: #8036b2a1; /* Cor do botão de rolagem */
  border-radius: 3px; /* Borda arredondada do botão de rolagem */
}

.scroll-bar::-webkit-scrollbar-thumb:hover {
  background-color: var(--cor007)bb; /* Cor do botão de rolagem ao passar o mouse */
}

/* modelo Container com fundo */

.container-personalizado-1 {
  position: relative;
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.container-personalizado-1 .cn-decoration {
  width: 50%;
  background-color: #8056ff;
  padding: 10px;
}

.container-personalizado-1 .cn-conteudo {
  background-color: var(--cor008);
  color: black;
  padding: 1em;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.14);
  z-index: 1;
}

.container-personalizado-1 .cn-conteudo h2 {
  text-align: center;
  margin: 1em;
  font-size: 2em;
  line-height: 45px;
  font-weight: 200;
}

.container-personalizado-1 .cn-conteudo h2 span {
  color: #9d1cf3;
  font-weight: bold;
}

.container-personalizado-1 .area01 {
  height: 50%;
  position: absolute;
  left: 0;
  top: 30px;
  z-index: -1;
}
.container-personalizado-1 .area02 {
  height: 40%;
  position: absolute;
  right: 0;
  bottom: 60px;
  z-index: -1;
}

@media (max-width: 1050px) {
  .container-personalizado {
    height: 600px;
  }
}

@media (max-width: 750px) {
  .container-personalizado {
    height: 500px;
  }
}

@media (max-width: 550px) {
  .container-personalizado {
    height: 400px;
  }
}

@media (max-width: 450px) {
  .container-personalizado {
    height: 300px;
  }

  .container-personalizado-1 .cn-conteudo h2 {
    font-size: 1.5em;
    line-height: 1.5em;
  }
}

@media (max-width: 350px) {
  .container-personalizado {
    height: 200px;
  }
}

/*------- dados --------*/

.fundo-branco-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 550px;
}

.fundo-branco-container .filtro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.fundo-branco-container .filtro-container h2 {
  font-size: 1.2em;
  margin: 0 1em;
}

.fundo-branco-container .filtro-container input {
  padding: 0.5em;
  width: 200px;
  border-radius: 5px;
  border: 0.5px solid #8056ff97;
}

.fundo-branco-container .filtro-container h2 span {
  color: #8056ff;
}

.fundo-branco-container .acao {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fundo-branco-container .cards-container {
  display: flex;
  margin: 2em auto;
  width: 80%;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 1em;
  max-height: 501px;
}
.fundo-branco-container .paginacao-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*------- cards --------*/

.card-item {
  background-image: linear-gradient(
    to bottom,
    #d953f7,
    #b553f7 30%,
    #6904ce 80%
  );
  margin: 1em;
  padding: 0 1em;
  border-radius: 5px;
  transition: 0.2s;
}

.card-item .fundo-branco {
  background-color: var(--cor008);
  margin: auto;
  padding: 1em 0.5em;
  display: flex;
  align-items: center;
  transition: 0.2s;
}

.card-item .fundo-branco img {
  width: 20%;
  border-radius: 20%;
  margin: 0 1em;
}

.fundo-branco > fa-icon {
  margin: .5em;
  font-size: 2em;
}

.card-item fa-icon {
  color: var(--roxo-escuro);
}

.card-item .fundo-branco .conteudo {
  display: flex;
  flex-direction: column;
}

.card-item .fundo-branco .conteudo h3 {
  margin-bottom: 0.5em;
}

.card-item:hover {
  margin: 0.5em;
  padding: 0 1.5em;
}

.card-item:hover .fundo-branco {
  padding: 1.5em 0.5em;
}

.selecionado {
  padding: 0.5em 1em;
  margin: 1em;
}
.selecionado .fundo-branco {
  padding: 0.5em 1em;
  border-radius: 15px;
}

.selecionado:hover {
  padding: 1em 1.5em;
}

.selecionado:hover .fundo-branco {
  padding: 0.2em 1em;
}
