<div
  class="bg-shadow300 backdrop-blur-[20px] fixed w-screen h-screen top-0 left-0 z-50 flex justify-center items-start"
  *ngIf="showModalAlterarEstoque"
>
  <div
    class="relative p-5 rounded-md shadow-md bg-white min-w-[40%] mt-44 text-lg flex flex-col gap-5"
  >
    <div
      class="absolute top-2 right-5 text-purple500 text-2xl cursor-pointer"
      (click)="showModalAlterarEstoque = !showModalAlterarEstoque"
    >
      x
    </div>
    <h2>Nome: {{ produto && produto.nome }}</h2>
    <h3>Quantidade atual: {{ produto && produto.quantidade }}</h3>

    <div class="w-full">
      <input
        type="text"
        placeholder="Digite a quantidade desejada..."
        class="w-full border-2 border-purple500 rounded-md p-2"
        (input)="changeQuantidadeEstoque($event)"
      />
    </div>
    <div class="flex gap-5 w-full justify-center">
      <button class="btn-padrao" (click)="alterarEstoqueProduto(true)">Adicionar</button>
      <button class="btn-padrao" (click)="alterarEstoqueProduto(false)">Remover</button>
    </div>
  </div>
</div>

<div class="flex flex-col items-center gap-5 h-screen">
  <div
    class="flex justify-between w-full items-center p-5 shadow-[10px_10px_20px] shadow-shadow200"
  >
    <div class="flex gap-5 items-center">
      <h2 class="text-xl"><span class="text-purple400">Busque</span> pelo Produto:</h2>
      <input
        type="text"
        (input)="searchInput($event)"
        class="p-2 text-lg border-2 border-purple500 rounded-md"
      />
    </div>
    <div class="flex gap-5" *ngIf="produto && produto.selecionado">
      <button
        class="btn-padrao btn-acao"
        (click)="showModalAlterarEstoque = !showModalAlterarEstoque"
      >
        <fa-icon [icon]="faPlus" /> Add Estoque
      </button>
      <a routerLink="/produtos/{{ produto.id! }}"
        ><button class="btn-padrao btn-acao"><fa-icon [icon]="faEdit" /> Editar</button></a
      >
      <button class="btn-padrao btn-acao" (click)="chamarComfirm(produto)">
        <fa-icon [icon]="faTrashAlt" /> Excluir
      </button>
    </div>
  </div>
  <div
    class="w-[90%] p-5 flex flex-wrap justify-start items-center gap-5 scroll-bar"
    #cardsContainer
    *ngIf="produtos"
  >
    <app-card-prod
      *ngFor="let produto of produtos"
      [nome]="produto.nome"
      [valor]="produto.valor"
      [quantidade]="produto.quantidade!"
      (click)="selecionarCard(produto)"
      [selecionado]="produto.selecionado!"
    ></app-card-prod>
  </div>
  <div class="p-5 w-full mt-auto flex gap-5" *ngIf="numPaginasArray.length > 0">
    <div
      *ngIf="numPaginas > paginasPorGrupo && grupoAtual > 1"
      class="bg-purple100 w-10 h-10 flex justify-center items-center font-bold text-xl rounded-[50%] cursor-pointer hover:bg-purple300 hover:text-white duration-300"
      (click)="alterarPaginacao(false)"
    >
      ...
    </div>
    <div *ngFor="let numPagina of numPaginasArray">
      <div
        class=" w-10 h-10 flex justify-center items-center font-bold text-xl rounded-[50%] cursor-pointer hover:bg-purple300 hover:text-white duration-300 {{
          numPagina.selected ? 'bg-purple300 text-white' : 'bg-purple100 text-black'
        }}"
        (click)="selecionarPagina(numPagina.numPagina)"
      >
        {{ numPagina.numPagina }}
      </div>
    </div>

    <div
      *ngIf="numPaginas > paginasPorGrupo && grupoAtual * paginasPorGrupo < numPaginas"
      class="bg-purple100 w-10 h-10 flex justify-center items-center font-bold text-xl rounded-[50%] cursor-pointer hover:bg-purple300 hover:text-white duration-300"
      (click)="alterarPaginacao(true)"
    >
      ...
    </div>
  </div>
</div>
